{% extends 'layout.html' %}
{% load static %}
{% block content %}
<strong>About Author</strong>
<br>
<div class="text-center">
	<img class="rounded-circle" src="{% static 'profile.jpg' %}" width="250" height="250">
</div>
<p><i>Hello Friends, My name is Karan Chaudhari. I am graduated from Sal College of Engineering in Mechatronics Engineering.
But i like programming and i am passionate about programming. I am Python developer, i created so many projects in python like Software, Web-developement using flask and django.</i></p>
<p><i>I would like to create my career in python web development. I enjoy the programming, and i like what i do.</i></p>
<strong>About Blog</strong>
<p><i>I started this blog in 2019. In this blog here we publish the Business, Humor, Photography, Technology, and Nature releted articles.</i></p>
{% endblock %}