{% extends 'layout.html' %}
{% block content %}
          <!-- Blog Post -->
          {% for post in posts %}
          <div class="card mb-4">
            <img class="card-img-top" src="{{post.img.url}}" width="728" height="315" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{post.title}}</h2>
              <p class="card-text">{{post.content|slice:"0:160"}}....</p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{post.posted_date|date:"F d, Y"}} by
              <a href="#">{{post.author}}</a>
            </div>
          </div>
          {% endfor %}

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">
            <li class="page-item">
              <a class="page-link" href="#">&larr; Older</a>
            </li>
            <li class="page-item disabled">
              <a class="page-link" href="#">Newer &rarr;</a>
            </li>
          </ul>
{% endblock content %}