{% extends 'layout.html' %}
{% block content %}
          <!-- Blog Post -->
          {% for post in posts %}
          <div class="card mb-4">
            <img class="card-img-top" src="{{post.img.url}}" width="728" height="315" alt="Card image cap">
            <div class="card-body">
              <h2 class="card-title">{{post.title}}</h2>
              <p class="card-text">{{post.content|slice:"0:160"}}....</p>
              <a href="/post/{{post.slug}}" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              Posted on {{post.posted_date|date:"F d, Y"}} by
              <a href="#">{{post.author}}</a>
            </div>
          </div>
          {% endfor %}

          <!-- Pagination -->
          <ul class="pagination justify-content-center mb-4">  
            {% if posts.has_previous %}
            <li class="page-item disabled">
              <a class="btn btn-outline-info" href="?page=1">&laquo; First</a>
              <a class="btn btn-outline-info" href="?page={{posts.previous_page_number}}">Previous</a> 
              <br>
            </li>
            {% endif %}
            {% if posts.has_next %}
            <li class="page-item">
              <a class="btn btn-outline-info" href="?page={{posts.next_page_number}}">Next</a>
              <a class="btn btn-outline-info" href="?page={{posts.paginator.num_pages}}">Last &raquo;</a>
            </li>
            {% endif %}
          </ul>
{% endblock content %}