{% extends 'layout.html' %}
{% load crispy_forms_tags %}
{% load humanize %}
{% block content %}

		  <!-- Message Flashing -->
		  {% if messages %}
		  	{% for message in messages %}
		  		<div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
				  {{message}}
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				    <span aria-hidden="true">&times;</span>
				  </button>
				</div>
		  	{% endfor %}
		  {% endif %}

          <!-- Title -->
          <h1 class="mt-4">{{post.title}}</h1>
          <strong><i>{{post.post_cate}}</i></strong>

          <!-- Author -->
          <p class="lead">
            by
            <a href="#">{{post.author}}</a>
          </p>

          <hr>

          <!-- Date/Time -->
          <p>Posted on {{post.posted_date}}</p>

          <hr>

          <!-- Preview Image -->
          <img class="img-fluid rounded" src="{{post.img.url}}" alt="">

          <hr>

          <!-- Post Content -->
          <p class="lead" >{{post.content}}</p>

          <hr>

          <!-- Comments Form -->
          <div class="card my-4">
          	{% if comments.count > 0 %}
            <h5 class="card-header">({{comments.count}}) Leave a Comment:</h5>
            {% else %}
            <h5 class="card-header">Leave a Comment:</h5>
            {% endif %}
            <div class="card-body">
              <form method="post">
              	{% csrf_token %}
                <div class="form-group">
                	<input class="form-control" type="text" name="name" placeholder="Your name...">
                  	<textarea class="form-control my-2" name="cmnt" rows="3" placeholder="Write your comment here..."></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>
            </div>
          </div>

          <div>
          	{% for comment in comments %}
          		{{comment.timestamp|naturaltime}}
          		<h5><i>{{comment.name}}</i></h5>
          		<h6>{{comment.cmnt}}</h6>
          		<hr>
          	{% endfor %}
          </div>
{% endblock %}